In [9]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [10]:
dataset=pd.read_csv('./boston.csv')

In [11]:
dataset.head(3)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7

In [12]:
input_data=dataset.iloc[:,:-1]

In [13]:
output_data=dataset["MEDV"]

In [14]:
x_train,x_test,y_train,y_test=train_test_split(input_data,output_data,test_size=0.25,random_state=42)

In [15]:
x_train.shape

(379, 13)

In [16]:
dataset.shape

(506, 14)