In [1]:
import seaborn as sns
import matplotlib.pyplot as plt 
import numpy as np
import pandas as pd

In [2]:
dataset=pd.read_csv('./loan.csv')

In [3]:
dataset.head(3)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y

In [4]:
dataset.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [5]:
dataset.select_dtypes(include=['float64']).columns

Index(['CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term',
       'Credit_History'],
      dtype='object')

In [6]:
from sklearn.impute import SimpleImputer

In [8]:
dataset.select_dtypes(include=['float64']).columns

Index(['CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term',
       'Credit_History'],
      dtype='object')

In [7]:
si=SimpleImputer(strategy='mean')

In [10]:
ar=si.fit_transform(dataset[['CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term',
       'Credit_History']])

In [11]:
new_dataset=pd.DataFrame(ar,columns=dataset.select_dtypes(include='float64').columns)

In [12]:
new_dataset.head(10)

   CoapplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History
0                0.0  146.412162             360.0             1.0
1             1508.0  128.000000             360.0             1.0
2                0.0   66.000000             360.0             1.0
3             2358.0  120.000000             360.0             1.0
4                0.0  141.000000             360.0             1.0
5             4196.0  267.000000             360.0             1.0
6             1516.0   95.000000             360.0             1.0
7             2504.0  158.000000             360.0             0.0
8             1526.0  168.000000             360.0             1.0
9            10968.0  349.000000             360.0             1.0

In [13]:
dataset["LoanAmount"].mean()

146.41216216216216