In [43]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction.text import TfidfVectorizer;
from sklearn.metrics import accuracy_score ,f1_score,recall_score,precision_score,confusion_matrix
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression

In [4]:
#data collecting and preprocessing

In [5]:
raw_mail_data=pd.read_csv('mail_data.csv')

In [6]:
print(raw_mail_data)

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [8]:
#replace the null values with a null string
raw_mail_data.isnull().sum()

Category    0
Message     0
dtype: int64

### replace the null values with a null string

In [10]:
mail_data=raw_mail_data.where((pd.notnull(raw_mail_data)),'')

In [11]:
mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [12]:
#checking the number of rows and columns in the dataframe 
mail_data.shape

(5572, 2)

In [19]:
a=mail_data;
a.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [20]:
#label spam mail as 0 and non-spam mail as 1
a=pd.DataFrame(mail_data)

In [21]:
label=label.fit_transform(a['Category'])

In [22]:
a['Category']=label

In [23]:
a.head()

   Category                                            Message
0         0  Go until jurong point, crazy.. Available only ...
1         0                      Ok lar... Joking wif u oni...
2         1  Free entry in 2 a wkly comp to win FA Cup fina...
3         0  U dun say so early hor... U c already then say...
4         0  Nah I don't think he goes to usf, he lives aro...

In [24]:
#label spam mail as 0 and non-spam mail as 1
mail_data.loc[mail_data['Category']=='spam','Category',]=0

In [25]:
mail_data.loc[mail_data['Category']=='ham','Category',]=1

In [27]:
mail_data.head()

  Category                                            Message
0        1  Go until jurong point, crazy.. Available only ...
1        1                      Ok lar... Joking wif u oni...
2        0  Free entry in 2 a wkly comp to win FA Cup fina...
3        1  U dun say so early hor... U c already then say...
4        1  Nah I don't think he goes to usf, he lives aro...

In [28]:
# spam-0
# ham-1
#separting the data as text and labels

In [29]:
X=mail_data['Message']
Y=mail_data['Category']

In [30]:
print(X)
print(Y)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object
0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

In [31]:
#spliting the data into training and testing data

In [32]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=2)

In [33]:
print(X.shape,X_train.shape,X_test.shape)
print(Y.shape,Y_train.shape,Y_test.shape)

(5572,) (4457,) (1115,)
(5572,) (4457,) (1115,)

In [34]:
#transform the text data to feature vectors that can be used as input to the Logistic regression model using TfidfVectorizer

In [56]:
feature_extract = TfidfVectorizer(min_df=1, stop_words='english', lowercase=True)

# Assuming X_train is your training data
X_train_features = feature_extract.fit_transform(X_train)
#test ->just need transform
X_test_features = feature_extract.transform(X_test)

In [57]:
#convert Y_train_features and Y_test_features
Y_train_features = Y_train.astype('int')
Y_test_features = Y_test.astype('int')

In [58]:
print(X_train_features)

  (0, 4334)	0.42941702167641554
  (0, 3958)	0.6161071828926097
  (0, 6586)	0.44333254982109394
  (0, 6927)	0.48935591439341625
  (1, 2121)	0.3573617143022146
  (1, 1428)	0.5869421390016223
  (1, 6971)	0.42812434651556874
  (1, 3168)	0.5869421390016223
  (2, 5115)	0.3408491178137899
  (2, 7353)	0.31988118061968496
  (2, 3852)	0.3408491178137899
  (2, 4884)	0.35749230587184955
  (2, 5695)	0.35749230587184955
  (2, 806)	0.26730249393705324
  (2, 5894)	0.35749230587184955
  (2, 1876)	0.28751725124107325
  (2, 6878)	0.35749230587184955
  (3, 197)	0.36522237107066735
  (3, 3723)	0.16297045459835785
  (3, 2435)	0.26698378141852
  (3, 1825)	0.26858331513730566
  (3, 5231)	0.2266831802864503
  (3, 300)	0.2915969875465198
  (3, 7248)	0.23571908490908416
  (3, 5005)	0.3169028431039865
  :	:
  (4454, 2244)	0.2526916142542512
  (4454, 666)	0.28653660324238944
  (4454, 1575)	0.20946314330145205
  (4454, 1094)	0.24862733340971144
  (4454, 5068)	0.22284357632450164
  (4454, 311)	0.19547195974237946
  (4454, 4627)	0.3831814754124698
  (4454, 2879)	0.28899333825056067
  (4454, 5811)	0.14953570764179772
  (4454, 7248)	0.18493430649182369
  (4454, 7297)	0.1741110805400093
  (4455, 7075)	0.6255253074975946
  (4455, 3701)	0.546620099025937
  (4455, 4614)	0.4677148905542796
  (4455, 3084)	0.3019392955127119
  (4456, 3768)	0.30090411827956587
  (4456, 5009)	0.6018082365591317
  (4456, 909)	0.26924653489772427
  (4456, 7032)	0.2868954144677231
  (4456, 2509)	0.20620887737471993
  (4456, 380)	0.24893867331233713
  (4456, 7033)	0.43304344994724825
  (4456, 7376)	0.20404881687716278
  (4456, 5820)	0.18767970267638426
  (4456, 6575)	0.15362974460832007

In [59]:
#Training the model

In [60]:
# Logistic Regression

model=LogisticRegression()

In [61]:
#training the logistic regression model with training data
model.fit(X_train_features, Y_train_features)

LogisticRegression()

In [62]:
#Evaluating the train the model

In [63]:
prediction_on_training_data=model.predict(X_train_features)

In [64]:
accuracy_score_training_data=accuracy_score(prediction_on_training_data,Y_train_features)

In [65]:
print('accuracy_score for training data : ',accuracy_score_training_data)

accuracy_score for training data :  0.9683643706529056

In [66]:
#prediction on test_data
prediction_on_test_data=model.predict(X_test_features)

In [67]:
accuracy_score_training_data=accuracy_score(prediction_on_test_data,Y_test_features)

In [68]:
print('accuracy_score for training data : ',accuracy_score_training_data)

accuracy_score for training data :  0.9524663677130045

In [69]:
#building a predictive spam system

In [76]:
input_mail=["Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's"]

#convert text to feature vectors

input_data_transform =feature_extract.transform(input_mail)

In [77]:
#making predictions 
prediction=model.predict(input_data_transform)

In [78]:
print(prediction)

[0]

In [79]:
if prediction[0]==1:
    print('HAM MAIL')
else:
    print('SPAM MAIL')

SPAM MAIL