In [1]:
# imbalanced dataset
# A dataset with enequal class distribution 
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as np;

In [2]:
data=pd.read_csv('./credit_data.csv')

In [3]:
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
#determine the distribution of two class
data['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [5]:
#imblanced dataset highly 
#0-->legit 
#1-->fraud

In [6]:
#separting the legit and fraudlent transactions
legit = data[data['Class']==0]
fraud = data[data['Class']==1]

In [7]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [10]:
# under-sampling
# Building sample dataset containing similar distribution legit and fruad transactions
legit_sample= legit.sample(n=492)

In [11]:
#concating two data frame 
new_data=pd.concat([legit_sample,fraud],axis=0)

In [12]:
new_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
188236,127884.0,-0.035293,0.675020,0.175854,-0.803311,-0.670230,-1.178337,0.066734,0.203209,0.451123,...,-0.250883,-0.764599,0.313229,0.001622,-1.292348,-0.417748,0.137902,0.151280,12.50,0
277518,167692.0,1.725782,-0.133260,-1.554220,1.593371,0.180844,-1.309378,0.914794,-0.544133,-0.006101,...,0.175582,0.463383,-0.088990,0.442527,0.387172,-0.533836,-0.033941,-0.030776,150.74,0
125874,77843.0,-1.171296,0.666466,0.993631,-0.907265,-0.336533,-1.071030,0.335581,0.453705,-0.612825,...,0.230098,0.397600,-0.010129,0.599383,-0.240744,0.864850,0.122857,0.069080,47.35,0
63132,50573.0,0.451541,-1.005867,-0.160939,1.312478,-0.377894,0.211609,0.377259,0.059799,-0.163254,...,0.343308,0.151285,-0.450148,-0.309777,0.447552,-0.284561,-0.045551,0.067936,376.25,0
54707,46580.0,-0.938858,0.350289,0.324111,-2.201248,0.152337,0.132603,-0.037969,0.479310,-1.047991,...,0.218011,0.709375,-0.193706,-1.163217,0.010639,-0.250601,0.196241,-0.067639,17.85,0

In [13]:
new_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
188236,127884.0,-0.035293,0.675020,0.175854,-0.803311,-0.670230,-1.178337,0.066734,0.203209,0.451123,...,-0.250883,-0.764599,0.313229,0.001622,-1.292348,-0.417748,0.137902,0.151280,12.50,0
277518,167692.0,1.725782,-0.133260,-1.554220,1.593371,0.180844,-1.309378,0.914794,-0.544133,-0.006101,...,0.175582,0.463383,-0.088990,0.442527,0.387172,-0.533836,-0.033941,-0.030776,150.74,0
125874,77843.0,-1.171296,0.666466,0.993631,-0.907265,-0.336533,-1.071030,0.335581,0.453705,-0.612825,...,0.230098,0.397600,-0.010129,0.599383,-0.240744,0.864850,0.122857,0.069080,47.35,0
63132,50573.0,0.451541,-1.005867,-0.160939,1.312478,-0.377894,0.211609,0.377259,0.059799,-0.163254,...,0.343308,0.151285,-0.450148,-0.309777,0.447552,-0.284561,-0.045551,0.067936,376.25,0
54707,46580.0,-0.938858,0.350289,0.324111,-2.201248,0.152337,0.132603,-0.037969,0.479310,-1.047991,...,0.218011,0.709375,-0.193706,-1.163217,0.010639,-0.250601,0.196241,-0.067639,17.85,0

In [14]:
new_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
188236,127884.0,-0.035293,0.675020,0.175854,-0.803311,-0.670230,-1.178337,0.066734,0.203209,0.451123,...,-0.250883,-0.764599,0.313229,0.001622,-1.292348,-0.417748,0.137902,0.151280,12.50,0
277518,167692.0,1.725782,-0.133260,-1.554220,1.593371,0.180844,-1.309378,0.914794,-0.544133,-0.006101,...,0.175582,0.463383,-0.088990,0.442527,0.387172,-0.533836,-0.033941,-0.030776,150.74,0
125874,77843.0,-1.171296,0.666466,0.993631,-0.907265,-0.336533,-1.071030,0.335581,0.453705,-0.612825,...,0.230098,0.397600,-0.010129,0.599383,-0.240744,0.864850,0.122857,0.069080,47.35,0
63132,50573.0,0.451541,-1.005867,-0.160939,1.312478,-0.377894,0.211609,0.377259,0.059799,-0.163254,...,0.343308,0.151285,-0.450148,-0.309777,0.447552,-0.284561,-0.045551,0.067936,376.25,0
54707,46580.0,-0.938858,0.350289,0.324111,-2.201248,0.152337,0.132603,-0.037969,0.479310,-1.047991,...,0.218011,0.709375,-0.193706,-1.163217,0.010639,-0.250601,0.196241,-0.067639,17.85,0

In [15]:
new_data.shape

(984, 31)

In [16]:
new_data['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64